In [51]:
import pandas as pd
df = pd.read_csv('/home/jbmai_sai/Desktop/climate/train_dataset.csv')

In [52]:
df.count()

date_time              29043
is_holiday             29043
air_pollution_index    29043
humidity               29043
wind_speed             29043
wind_direction         29043
visibility_in_miles    29043
dew_point              29043
temperature            29043
rain_p_h               29043
snow_p_h               29043
clouds_all             29043
weather_type           29043
weather_description    29043
traffic_volume         29043
dtype: int64

In [53]:
df

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29038,2017-03-31 19:00:00,None,170,52,2,270,2,2,286.86,0.0,0.0,40,Clouds,scattered clouds,4226
29039,2017-03-31 20:00:00,None,105,52,2,260,9,9,284.40,0.0,0.0,40,Clouds,scattered clouds,3309
29040,2017-03-31 21:00:00,None,227,55,3,270,4,4,281.85,0.0,0.0,1,Clear,sky is clear,3126
29041,2017-03-31 22:00:00,None,223,55,4,290,1,1,278.82,0.0,0.0,1,Clear,sky is clear,2860
29042,2017-03-31 23:00:00,None,299,55,4,300,1,1,277.49,0.0,0.0,1,Clear,sky is clear,1966

In [54]:
df['weather_type'].nunique()
df['weather_type'].size

29043

In [55]:
#pd.get_dummies(df,prefix=['weather_description'])
df = pd.concat([df,pd.get_dummies(df['weather_type'], prefix='weather_type')],axis=1)

In [56]:
df

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,...,weather_type_Clouds,weather_type_Drizzle,weather_type_Fog,weather_type_Haze,weather_type_Mist,weather_type_Rain,weather_type_Smoke,weather_type_Snow,weather_type_Squall,weather_type_Thunderstorm
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,...,1,0,0,0,0,0,0,0,0,0
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,...,1,0,0,0,0,0,0,0,0,0
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,...,1,0,0,0,0,0,0,0,0,0
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,...,1,0,0,0,0,0,0,0,0,0
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29038,2017-03-31 19:00:00,None,170,52,2,270,2,2,286.86,0.0,...,1,0,0,0,0,0,0,0,0,0
29039,2017-03-31 20:00:00,None,105,52,2,260,9,9,284.40,0.0,...,1,0,0,0,0,0,0,0,0,0
29040,2017-03-31 21:00:00,None,227,55,3,270,4,4,281.85,0.0,...,0,0,0,0,0,0,0,0,0,0
29041,2017-03-31 22:00:00,None,223,55,4,290,1,1,278.82,0.0,...,0,0,0,0,0,0,0,0,0,0
29042,2017-03-31 23:00:00,None,299,55,4,300,1,1,277.49,0.0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
df['is_holiday'].unique()

array(['None', 'Columbus Day', 'Veterans Day', 'Thanksgiving Day',
       'Christmas Day', 'New Years Day', 'Washingtons Birthday',
       'Memorial Day', 'State Fair', 'Labor Day',
       'Martin Luther King Jr Day', 'Independence Day'], dtype=object)

In [58]:
df['is_holiday'].value_counts()

None                         29002
Thanksgiving Day                 5
Christmas Day                    5
New Years Day                    5
Columbus Day                     4
Labor Day                        4
Veterans Day                     4
Washingtons Birthday             4
Martin Luther King Jr Day        3
State Fair                       3
Independence Day                 2
Memorial Day                     2
Name: is_holiday, dtype: int64

In [59]:
for i in df.index:
    day = df['is_holiday'].loc[i]
    if(day != 'None'):
        df['is_holiday'].loc[i] = 'holiday'

In [60]:
df.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,...,weather_type_Clouds,weather_type_Drizzle,weather_type_Fog,weather_type_Haze,weather_type_Mist,weather_type_Rain,weather_type_Smoke,weather_type_Snow,weather_type_Squall,weather_type_Thunderstorm
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,...,1,0,0,0,0,0,0,0,0,0
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,...,1,0,0,0,0,0,0,0,0,0
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,...,1,0,0,0,0,0,0,0,0,0
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,...,1,0,0,0,0,0,0,0,0,0
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,...,1,0,0,0,0,0,0,0,0,0

In [61]:
df['is_holiday'].unique()

array(['None', 'holiday'], dtype=object)

In [62]:
df['is_holiday'].value_counts()

None       29002
holiday       41
Name: is_holiday, dtype: int64

In [63]:
df = pd.concat([df,pd.get_dummies(df['is_holiday'], prefix='is_holiday')],axis=1)

In [64]:
df.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,...,weather_type_Fog,weather_type_Haze,weather_type_Mist,weather_type_Rain,weather_type_Smoke,weather_type_Snow,weather_type_Squall,weather_type_Thunderstorm,is_holiday_None,is_holiday_holiday
0,2012-10-02 09:00:00,None,121,89,2,329,1,1,288.28,0.0,...,0,0,0,0,0,0,0,0,1,0
1,2012-10-02 10:00:00,None,178,67,3,330,1,1,289.36,0.0,...,0,0,0,0,0,0,0,0,1,0
2,2012-10-02 11:00:00,None,113,66,3,329,2,2,289.58,0.0,...,0,0,0,0,0,0,0,0,1,0
3,2012-10-02 12:00:00,None,20,66,3,329,5,5,290.13,0.0,...,0,0,0,0,0,0,0,0,1,0
4,2012-10-02 13:00:00,None,281,65,3,329,7,7,291.14,0.0,...,0,0,0,0,0,0,0,0,1,0

In [65]:
df.drop(columns=['is_holiday', 'weather_type'])

,date_time,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,...,weather_type_Fog,weather_type_Haze,weather_type_Mist,weather_type_Rain,weather_type_Smoke,weather_type_Snow,weather_type_Squall,weather_type_Thunderstorm,is_holiday_None,is_holiday_holiday
0,2012-10-02 09:00:00,121,89,2,329,1,1,288.28,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
1,2012-10-02 10:00:00,178,67,3,330,1,1,289.36,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
2,2012-10-02 11:00:00,113,66,3,329,2,2,289.58,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
3,2012-10-02 12:00:00,20,66,3,329,5,5,290.13,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
4,2012-10-02 13:00:00,281,65,3,329,7,7,291.14,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29038,2017-03-31 19:00:00,170,52,2,270,2,2,286.86,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
29039,2017-03-31 20:00:00,105,52,2,260,9,9,284.40,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
29040,2017-03-31 21:00:00,227,55,3,270,4,4,281.85,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
29041,2017-03-31 22:00:00,223,55,4,290,1,1,278.82,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
29042,2017-03-31 23:00:00,299,55,4,300,1,1,277.49,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0

In [66]:
df['weather_description'].unique()

array(['scattered clouds', 'broken clouds', 'overcast clouds',
       'sky is clear', 'few clouds', 'light rain',
       'light intensity drizzle', 'mist', 'haze', 'fog',
       'proximity shower rain', 'drizzle', 'moderate rain',
       'heavy intensity rain', 'proximity thunderstorm',
       'thunderstorm with light rain', 'proximity thunderstorm with rain',
       'heavy snow', 'heavy intensity drizzle', 'snow',
       'thunderstorm with heavy rain', 'freezing rain', 'shower snow',
       'light rain and snow', 'light intensity shower rain', 'SQUALLS',
       'thunderstorm with rain', 'proximity thunderstorm with drizzle',
       'thunderstorm', 'Sky is Clear', 'very heavy rain',
       'thunderstorm with light drizzle', 'light snow',
       'thunderstorm with drizzle', 'smoke', 'shower drizzle',
       'light shower snow', 'sleet'], dtype=object)

In [67]:
df['weather_description'].value_counts()

sky is clear                           6489
overcast clouds                        3593
mist                                   3552
broken clouds                          2937
light rain                             2032
scattered clouds                       1863
Sky is Clear                           1474
few clouds                             1293
light snow                             1225
moderate rain                           863
haze                                    791
heavy snow                              587
light intensity drizzle                 536
fog                                     513
drizzle                                 331
proximity thunderstorm                  267
heavy intensity rain                    251
snow                                    179
thunderstorm                             49
thunderstorm with heavy rain             33
heavy intensity drizzle                  31
thunderstorm with light rain             30
proximity shower rain                    27
thunderstorm with rain                   19
proximity thunderstorm with rain         19
very heavy rain                          15
smoke                                     8
proximity thunderstorm with drizzle       7
light rain and snow                       6
light intensity shower rain               6
SQUALLS                                   4
light shower snow                         4
thunderstorm with drizzle                 2
freezing rain                             2
thunderstorm with light drizzle           2
shower drizzle                            1
sleet                                     1
shower snow                               1
Name: weather_description, dtype: int64

In [68]:
df = pd.concat([df,pd.get_dummies(df['weather_description'], prefix='weather_description')],axis=1)

In [70]:
df.drop(columns=['weather_description','is_holiday', 'weather_type'])

,date_time,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,...,weather_description_sleet,weather_description_smoke,weather_description_snow,weather_description_thunderstorm,weather_description_thunderstorm with drizzle,weather_description_thunderstorm with heavy rain,weather_description_thunderstorm with light drizzle,weather_description_thunderstorm with light rain,weather_description_thunderstorm with rain,weather_description_very heavy rain
0,2012-10-02 09:00:00,121,89,2,329,1,1,288.28,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2012-10-02 10:00:00,178,67,3,330,1,1,289.36,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,2012-10-02 11:00:00,113,66,3,329,2,2,289.58,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,2012-10-02 12:00:00,20,66,3,329,5,5,290.13,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,2012-10-02 13:00:00,281,65,3,329,7,7,291.14,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29038,2017-03-31 19:00:00,170,52,2,270,2,2,286.86,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
29039,2017-03-31 20:00:00,105,52,2,260,9,9,284.40,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
29040,2017-03-31 21:00:00,227,55,3,270,4,4,281.85,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
29041,2017-03-31 22:00:00,223,55,4,290,1,1,278.82,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
29042,2017-03-31 23:00:00,299,55,4,300,1,1,277.49,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [73]:
s = df['date_time'].loc[1]

In [74]:
s.split(' ')

['2012-10-02', '10:00:00']

In [76]:
# new data frame with split value columns 
new = df["date_time"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
df["date"]= new[0] 
  
# making separate last name column from new data frame 
df["time"]= new[1] 
  
# Dropping old Name columns 
df.drop(columns =["date_time"], inplace = True)

In [77]:
s = df['date'].loc[1]
s.split('-')

['2012', '10', '02']

In [79]:
new = df["date"].str.split("-", n = 2, expand = True) 
  
# making separate first name column from new data frame 
df["year"]= new[0] 
  
# making separate last name column from new data frame 
df["month"]= new[1] 
df["day"] = new[2]
  
# Dropping old Name columns 
df.drop(columns =["date"], inplace = True)

In [80]:
new = df["time"].str.split(":", n = 1, expand = True) 
  
# making separate first name column from new data frame 
df["hour"]= new[0] 
  

  
# Dropping old Name columns 
df.drop(columns =["time"], inplace = True)

In [89]:
df.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,None,121,89,2,329,1,1,288.28,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,None,178,67,3,330,1,1,289.36,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,None,113,66,3,329,2,2,289.58,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,None,20,66,3,329,5,5,290.13,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,None,281,65,3,329,7,7,291.14,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [90]:
df = df.drop(columns=['is_holiday', 'weather_type'])

air_pollution_index
humidity
wind_speed
wind_direction
visibility_in_miles
dew_point
temperature
rain_p_h
snow_p_h
clouds_all
weather_description
traffic_volume
weather_type_Clear
weather_type_Clouds
weather_type_Drizzle
weather_type_Fog
weather_type_Haze
weather_type_Mist
weather_type_Rain
weather_type_Smoke
weather_type_Snow
weather_type_Squall
weather_type_Thunderstorm
is_holiday_None
is_holiday_holiday
weather_description_SQUALLS
weather_description_Sky is Clear
weather_description_broken clouds
weather_description_drizzle
weather_description_few clouds
weather_description_fog
weather_description_freezing rain
weather_description_haze
weather_description_heavy intensity drizzle
weather_description_heavy intensity rain
weather_description_heavy snow
weather_description_light intensity drizzle
weather_description_light intensity shower rain
weather_description_light rain
weather_description_light rain and snow
weather_description_light shower snow
weather_description_light snow
weather_description_mist
weather_description_moderate rain
weather_description_overcast clouds
weather_description_proximity shower rain
weather_description_proximity thunderstorm
weather_description_proximity thunderstorm with drizzle
weather_description_proximity thunderstorm with rain
weather_description_scattered clouds
weather_description_shower drizzle
weather_description_shower snow
weather_description_sky is clear
weather_description_sleet
weather_description_smoke
weather_description_snow
weather_description_thunderstorm
weather_description_thunderstorm with drizzle
weather_description_thunderstorm with heavy rain
weather_description_thunderstorm with light drizzle
weather_description_thunderstorm with light rain
weather_description_thunderstorm with rain
weather_description_very heavy rain
year
month
day
hour
month_01
month_02
month_03
month_04
month_05
month_06
month_07
month_08
month_09
month_10
month_11
month_12
day_01
day_02
day_03
day_04
day_05
day_06
day_07
day_08
day_09
day_10
day_11
day_12
day_13
day_14
day_15
day_16
day_17
day_18
day_19
day_20
day_21
day_22
day_23
day_24
day_25
day_26
day_27
day_28
day_29
day_30
day_31
hour_00
hour_01
hour_02
hour_03
hour_04
hour_05
hour_06
hour_07
hour_08
hour_09
hour_10
hour_11
hour_12
hour_13
hour_14
hour_15
hour_16
hour_17
hour_18
hour_19
hour_20
hour_21
hour_22
hour_23

In [94]:
print(df['month'].value_counts())
print(df['day'].value_counts())
print(df['hour'].value_counts())

12    3368
01    3122
03    2926
11    2842
02    2722
10    2545
08    2336
09    2091
06    2081
05    1718
07    1673
04    1619
Name: month, dtype: int64
06    1059
16    1043
23    1041
19    1035
11    1007
10     993
18     985
08     985
24     979
12     974
28     971
09     959
07     957
17     955
26     953
04     951
15     949
25     947
20     941
22     941
14     941
27     924
05     917
02     913
03     912
13     899
21     892
30     844
29     824
01     812
31     540
Name: day, dtype: int64
04    1268
08    1257
06    1254
10    1249
23    1247
07    1245
00    1243
01    1235
02    1226
05    1223
03    1207
22    1207
16    1203
21    1199
09    1192
14    1192
12    1191
18    1190
20    1189
19    1182
11    1167
17    1163
15    1160
13    1154
Name: hour, dtype: int64

In [95]:
df = pd.concat([df,pd.get_dummies(df['month'], prefix='month')],axis=1)
df = pd.concat([df,pd.get_dummies(df['day'], prefix='day')],axis=1)
df = pd.concat([df,pd.get_dummies(df['hour'], prefix='hour')],axis=1)

In [96]:
df.head()

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,121,89,2,329,1,1,288.28,0.0,0.0,40,...,0,0,0,0,0,0,0,0,0,0
1,178,67,3,330,1,1,289.36,0.0,0.0,75,...,0,0,0,0,0,0,0,0,0,0
2,113,66,3,329,2,2,289.58,0.0,0.0,90,...,0,0,0,0,0,0,0,0,0,0
3,20,66,3,329,5,5,290.13,0.0,0.0,90,...,0,0,0,0,0,0,0,0,0,0
4,281,65,3,329,7,7,291.14,0.0,0.0,75,...,0,0,0,0,0,0,0,0,0,0

In [115]:
#df = df.drop(columns=['month','hour', 'day'])
for col in df.columns: 
    print(col)

air_pollution_index
humidity
wind_speed
wind_direction
visibility_in_miles
dew_point
temperature
rain_p_h
snow_p_h
clouds_all
weather_description
traffic_volume
weather_type_Clear
weather_type_Clouds
weather_type_Drizzle
weather_type_Fog
weather_type_Haze
weather_type_Mist
weather_type_Rain
weather_type_Smoke
weather_type_Snow
weather_type_Squall
weather_type_Thunderstorm
is_holiday_None
is_holiday_holiday
weather_description_SQUALLS
weather_description_Sky is Clear
weather_description_broken clouds
weather_description_drizzle
weather_description_few clouds
weather_description_fog
weather_description_freezing rain
weather_description_haze
weather_description_heavy intensity drizzle
weather_description_heavy intensity rain
weather_description_heavy snow
weather_description_light intensity drizzle
weather_description_light intensity shower rain
weather_description_light rain
weather_description_light rain and snow
weather_description_light shower snow
weather_description_light snow
weather_description_mist
weather_description_moderate rain
weather_description_overcast clouds
weather_description_proximity shower rain
weather_description_proximity thunderstorm
weather_description_proximity thunderstorm with drizzle
weather_description_proximity thunderstorm with rain
weather_description_scattered clouds
weather_description_shower drizzle
weather_description_shower snow
weather_description_sky is clear
weather_description_sleet
weather_description_smoke
weather_description_snow
weather_description_thunderstorm
weather_description_thunderstorm with drizzle
weather_description_thunderstorm with heavy rain
weather_description_thunderstorm with light drizzle
weather_description_thunderstorm with light rain
weather_description_thunderstorm with rain
weather_description_very heavy rain
year
month_01
month_02
month_03
month_04
month_05
month_06
month_07
month_08
month_09
month_10
month_11
month_12
day_01
day_02
day_03
day_04
day_05
day_06
day_07
day_08
day_09
day_10
day_11
day_12
day_13
day_14
day_15
day_16
day_17
day_18
day_19
day_20
day_21
day_22
day_23
day_24
day_25
day_26
day_27
day_28
day_29
day_30
day_31
hour_00
hour_01
hour_02
hour_03
hour_04
hour_05
hour_06
hour_07
hour_08
hour_09
hour_10
hour_11
hour_12
hour_13
hour_14
hour_15
hour_16
hour_17
hour_18
hour_19
hour_20
hour_21
hour_22
hour_23
month_01
month_02
month_03
month_04
month_05
month_06
month_07
month_08
month_09
month_10
month_11
month_12
day_01
day_02
day_03
day_04
day_05
day_06
day_07
day_08
day_09
day_10
day_11
day_12
day_13
day_14
day_15
day_16
day_17
day_18
day_19
day_20
day_21
day_22
day_23
day_24
day_25
day_26
day_27
day_28
day_29
day_30
day_31
hour_00
hour_01
hour_02
hour_03
hour_04
hour_05
hour_06
hour_07
hour_08
hour_09
hour_10
hour_11
hour_12
hour_13
hour_14
hour_15
hour_16
hour_17
hour_18
hour_19
hour_20
hour_21
hour_22
hour_23

In [113]:
df_y = df['traffic_volume']

In [114]:
df.drop(columns = ['traffic_volume','weather_description'])

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,121,89,2,329,1,1,288.28,0.0,0.0,40,...,0,0,0,0,0,0,0,0,0,0
1,178,67,3,330,1,1,289.36,0.0,0.0,75,...,0,0,0,0,0,0,0,0,0,0
2,113,66,3,329,2,2,289.58,0.0,0.0,90,...,0,0,0,0,0,0,0,0,0,0
3,20,66,3,329,5,5,290.13,0.0,0.0,90,...,0,0,0,0,0,0,0,0,0,0
4,281,65,3,329,7,7,291.14,0.0,0.0,75,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29038,170,52,2,270,2,2,286.86,0.0,0.0,40,...,0,0,0,0,0,1,0,0,0,0
29039,105,52,2,260,9,9,284.40,0.0,0.0,40,...,0,0,0,0,0,0,1,0,0,0
29040,227,55,3,270,4,4,281.85,0.0,0.0,1,...,0,0,0,0,0,0,0,1,0,0
29041,223,55,4,290,1,1,278.82,0.0,0.0,1,...,0,0,0,0,0,0,0,0,1,0
29042,299,55,4,300,1,1,277.49,0.0,0.0,1,...,0,0,0,0,0,0,0,0,0,1

In [110]:
df_y.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29043 entries, 0 to 29042
Columns: 198 entries, air_pollution_index to hour_23
dtypes: float64(3), int64(8), object(2), uint8(185)
memory usage: 8.0+ MB

In [116]:
for col in df.columns: 
    print(col)

air_pollution_index
humidity
wind_speed
wind_direction
visibility_in_miles
dew_point
temperature
rain_p_h
snow_p_h
clouds_all
weather_description
traffic_volume
weather_type_Clear
weather_type_Clouds
weather_type_Drizzle
weather_type_Fog
weather_type_Haze
weather_type_Mist
weather_type_Rain
weather_type_Smoke
weather_type_Snow
weather_type_Squall
weather_type_Thunderstorm
is_holiday_None
is_holiday_holiday
weather_description_SQUALLS
weather_description_Sky is Clear
weather_description_broken clouds
weather_description_drizzle
weather_description_few clouds
weather_description_fog
weather_description_freezing rain
weather_description_haze
weather_description_heavy intensity drizzle
weather_description_heavy intensity rain
weather_description_heavy snow
weather_description_light intensity drizzle
weather_description_light intensity shower rain
weather_description_light rain
weather_description_light rain and snow
weather_description_light shower snow
weather_description_light snow
weather_description_mist
weather_description_moderate rain
weather_description_overcast clouds
weather_description_proximity shower rain
weather_description_proximity thunderstorm
weather_description_proximity thunderstorm with drizzle
weather_description_proximity thunderstorm with rain
weather_description_scattered clouds
weather_description_shower drizzle
weather_description_shower snow
weather_description_sky is clear
weather_description_sleet
weather_description_smoke
weather_description_snow
weather_description_thunderstorm
weather_description_thunderstorm with drizzle
weather_description_thunderstorm with heavy rain
weather_description_thunderstorm with light drizzle
weather_description_thunderstorm with light rain
weather_description_thunderstorm with rain
weather_description_very heavy rain
year
month_01
month_02
month_03
month_04
month_05
month_06
month_07
month_08
month_09
month_10
month_11
month_12
day_01
day_02
day_03
day_04
day_05
day_06
day_07
day_08
day_09
day_10
day_11
day_12
day_13
day_14
day_15
day_16
day_17
day_18
day_19
day_20
day_21
day_22
day_23
day_24
day_25
day_26
day_27
day_28
day_29
day_30
day_31
hour_00
hour_01
hour_02
hour_03
hour_04
hour_05
hour_06
hour_07
hour_08
hour_09
hour_10
hour_11
hour_12
hour_13
hour_14
hour_15
hour_16
hour_17
hour_18
hour_19
hour_20
hour_21
hour_22
hour_23
month_01
month_02
month_03
month_04
month_05
month_06
month_07
month_08
month_09
month_10
month_11
month_12
day_01
day_02
day_03
day_04
day_05
day_06
day_07
day_08
day_09
day_10
day_11
day_12
day_13
day_14
day_15
day_16
day_17
day_18
day_19
day_20
day_21
day_22
day_23
day_24
day_25
day_26
day_27
day_28
day_29
day_30
day_31
hour_00
hour_01
hour_02
hour_03
hour_04
hour_05
hour_06
hour_07
hour_08
hour_09
hour_10
hour_11
hour_12
hour_13
hour_14
hour_15
hour_16
hour_17
hour_18
hour_19
hour_20
hour_21
hour_22
hour_23

In [125]:
df.drop(columns = ['traffic_volume','weather_description','year'])

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
0,121,89,2,329,1,1,288.28,0.0,0.0,40,...,0,0,0,0,0,0,0,0,0,0
1,178,67,3,330,1,1,289.36,0.0,0.0,75,...,0,0,0,0,0,0,0,0,0,0
2,113,66,3,329,2,2,289.58,0.0,0.0,90,...,0,0,0,0,0,0,0,0,0,0
3,20,66,3,329,5,5,290.13,0.0,0.0,90,...,0,0,0,0,0,0,0,0,0,0
4,281,65,3,329,7,7,291.14,0.0,0.0,75,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29038,170,52,2,270,2,2,286.86,0.0,0.0,40,...,0,0,0,0,0,1,0,0,0,0
29039,105,52,2,260,9,9,284.40,0.0,0.0,40,...,0,0,0,0,0,0,1,0,0,0
29040,227,55,3,270,4,4,281.85,0.0,0.0,1,...,0,0,0,0,0,0,0,1,0,0
29041,223,55,4,290,1,1,278.82,0.0,0.0,1,...,0,0,0,0,0,0,0,0,1,0
29042,299,55,4,300,1,1,277.49,0.0,0.0,1,...,0,0,0,0,0,0,0,0,0,1

In [126]:
for col in df.columns: 
    print(col)

air_pollution_index
humidity
wind_speed
wind_direction
visibility_in_miles
dew_point
temperature
rain_p_h
snow_p_h
clouds_all
weather_description
traffic_volume
weather_type_Clear
weather_type_Clouds
weather_type_Drizzle
weather_type_Fog
weather_type_Haze
weather_type_Mist
weather_type_Rain
weather_type_Smoke
weather_type_Snow
weather_type_Squall
weather_type_Thunderstorm
is_holiday_None
is_holiday_holiday
weather_description_SQUALLS
weather_description_Sky is Clear
weather_description_broken clouds
weather_description_drizzle
weather_description_few clouds
weather_description_fog
weather_description_freezing rain
weather_description_haze
weather_description_heavy intensity drizzle
weather_description_heavy intensity rain
weather_description_heavy snow
weather_description_light intensity drizzle
weather_description_light intensity shower rain
weather_description_light rain
weather_description_light rain and snow
weather_description_light shower snow
weather_description_light snow
weather_description_mist
weather_description_moderate rain
weather_description_overcast clouds
weather_description_proximity shower rain
weather_description_proximity thunderstorm
weather_description_proximity thunderstorm with drizzle
weather_description_proximity thunderstorm with rain
weather_description_scattered clouds
weather_description_shower drizzle
weather_description_shower snow
weather_description_sky is clear
weather_description_sleet
weather_description_smoke
weather_description_snow
weather_description_thunderstorm
weather_description_thunderstorm with drizzle
weather_description_thunderstorm with heavy rain
weather_description_thunderstorm with light drizzle
weather_description_thunderstorm with light rain
weather_description_thunderstorm with rain
weather_description_very heavy rain
year
month_01
month_02
month_03
month_04
month_05
month_06
month_07
month_08
month_09
month_10
month_11
month_12
day_01
day_02
day_03
day_04
day_05
day_06
day_07
day_08
day_09
day_10
day_11
day_12
day_13
day_14
day_15
day_16
day_17
day_18
day_19
day_20
day_21
day_22
day_23
day_24
day_25
day_26
day_27
day_28
day_29
day_30
day_31
hour_00
hour_01
hour_02
hour_03
hour_04
hour_05
hour_06
hour_07
hour_08
hour_09
hour_10
hour_11
hour_12
hour_13
hour_14
hour_15
hour_16
hour_17
hour_18
hour_19
hour_20
hour_21
hour_22
hour_23
month_01
month_02
month_03
month_04
month_05
month_06
month_07
month_08
month_09
month_10
month_11
month_12
day_01
day_02
day_03
day_04
day_05
day_06
day_07
day_08
day_09
day_10
day_11
day_12
day_13
day_14
day_15
day_16
day_17
day_18
day_19
day_20
day_21
day_22
day_23
day_24
day_25
day_26
day_27
day_28
day_29
day_30
day_31
hour_00
hour_01
hour_02
hour_03
hour_04
hour_05
hour_06
hour_07
hour_08
hour_09
hour_10
hour_11
hour_12
hour_13
hour_14
hour_15
hour_16
hour_17
hour_18
hour_19
hour_20
hour_21
hour_22
hour_23

In [123]:
dataf=((df-df.min())/(df.max()-df.min()))*20

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [120]:
df.year.dtype

dtype('O')